{% extends 'account/base.twig' %}

{% block body %}

<div class="row">
  <div class="col">
    {% embed 'shared/card.html.twig' %}
      {% block cardContent %}
      <h5 class="card-title">Login Information</h5>
      <div class="form-row">
          <div class="form-group col">
          <label for="">Email Address</label>
          <input class="form-control" type="email" value="{{ user.email }}" disabled>
          </div>
      </div>
      <div class="form-row">
          <div class="form-group col">
            <label for="">Password</label>
            <input class="form-control" type="password" value="{{ user.password|string_to_symbols }}" disabled>
          </div>
      </div>
      {% endblock cardContent %}
      {% block cardFooter %}
      <a href="/account/change-email" class="btn btn-primary card-link">Email Address</a>
      <a href="/account/change-password" class="btn btn-primary card-link">Password</a>
      {% endblock %}
    {% endembed %}
  </div>
  <div class="col">
    {% embed 'shared/card.html.twig' %}
      {% block cardContent %}
      <h5 class="card-title">Second authentication</h5>
      <p class="card-text">You will receive invoices and other billing-related emails at the following email address <b>{{ user.email }}</b>.</p>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
          Subscribe to our newsletter.
        </label>
      </div>
      {% endblock cardContent %}
      {% block cardFooter %}
      <a href="#" class="btn btn-primary card-link">Activate</a>
      {% endblock %}
    {% endembed %}
  </div>
</div>


{% endblock %}
