
{% embed 'shared/card.html.twig'%}

{% block cardHeader %}Command lines{% endblock %}
  {% block cardContent %}

  {%
      include 'shared/table.twig' with {
          row : {
            'Description' : {
                'property' : 'description',
                'object' : null
            },
            'Command Line' : {
                'property' : 'cmdline',
                'object' : 'user'
            },
            'Action' : {
                'property' : null,
                'object' : null
            },
          },
          results : cmdlines
      } only
  %}

{% endblock %}

{% block cardFooter %}
<ul class="nav py-2">
    <li class="nav-item btn-group-sm ml-0" role="group" aria-label="Filters">
      <a class="btn btn-outline-primary" href="{{ app.request.uri }}/create">New</a>
      <button class="btn btn-outline-primary" type="reset"><i class="fas fa-history" aria-hidden="true"></i> Cancel</button>
    </li>
</ul>
{% endblock %}
{% endembed %}
