
{{ form_start(form) }}

  <ul class="nav py-2">
      <li class="nav-item btn-group-sm ml-0" role="group" aria-label="Filters">
        <button class="btn btn-outline-primary" type="submit"><i class="fas fa-check" aria-hidden="true"></i> Save</button>
        <button class="btn btn-outline-primary" type="reset"><i class="fas fa-history" aria-hidden="true"></i> Cancel</button>
      </li>
  </ul>

{{ form_end(form) }}
