{% extends 'base.html.twig' %}

{% block body %}

{% embed 'shared/card.html.twig'%}

{% block cardHeader %}
<?php echo $query['gq_hostname'] ?>
<span class="float-right">
  <a href="<?php echo $query['gq_joinlink'] ?>">Join</a>
  <?php echo $query['gq_mapname']," (",$query['num_players'],"/",$query['max_players'],")" ?>
</span>
{% endblock %}

{% block cardContent %}

{%
    include 'shared/table.twig' with {
        row : {
          'id' : {
              'property' : 'description',
              'object' : null
          },
          'Player Name' : {
              'property' : 'description',
              'object' : null
          },
          'Score' : {
              'property' : 'cmdline',
              'object' : 'user'
          },
          'Duration' : {
              'property' : null,
              'object' : null
          },
        },
        results : results
    } only
%}


{% endblock cardContent %}

{% endembed %}

{% endblock body %}
