{% extends 'base.html.twig' %}

{% block body %}

{% embed 'shared/card.html.twig'%}

{% block cardHeader %}
<?php echo $query['gq_hostname'] ?>
<span class="float-right">
  <a href="<?php echo $query['gq_joinlink'] ?>">Join</a>
  <?php echo $query['gq_mapname']," (",$query['num_players'],"/",$query['max_players'],")" ?>
</span>
{% endblock %}

{% block cardContent %}

{% embed 'shared/table.twig'%}

{% block tableHead %}
<th title="Sort" scope="col">Player Name</th>
<th title="Sort" class="text-center" scope="col">Score</th>
<th title="Sort" class="text-center" scope="col">Duration</th>
{% endblock tableHead %}

{% block tableBody %}
<tr>
<td class="w-50"><?php echo $player['name'] ?></td>
<td class="text-center"><?php echo $player['score'] ?></td>
<td class="text-center"><?php echo $player['time'] ?></td>
</tr>
{% endblock tableBody %}

{% endembed %}

{% endblock cardContent %}

{% endembed %}

{% endblock body %}
