<nav class="secondary-nav navbar navbar-expand hidden">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link " href="/product/?flt=game">game</a></li>
        <li class="nav-item"><a class="nav-link " href="/product/?flt=voice">voice</a></li>
        <li class="nav-item"><a class="nav-link disabled" href="?flt=web">web</a></li>
        <li class="nav-item"><a class="nav-link disabled" href="?flt=domain">domain</a></li>
        <li class="nav-item"><a class="nav-link disabled" href="?flt=bundles">bundles</a></li>
      </ul>
      <ul class="navbar-nav ml-auto pr-4">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><span>€ EUR</span></a>
          <div class="dropdown-menu">
            <button class="dropdown-item" type="submit" value="eur" name="currency">Euro</button>
            <button class="dropdown-item" type="submit" value="usd" name="currency">US Dollar</button>
            <button class="dropdown-item" type="submit" value="gbp" name="currency">British Pounds</button>
          </div>
        </li>
      </ul>
      <?php if ($file == "index"): ?>
        <div class="form-inline my-2 my-lg-0 hidden">
          <input id="search" class="mb-0 p-2" type="seach" placeholder="search">
          <label for="search" class="btn"><i class="fas fa-search" aria-hidden="true"></i></label>
        </div>
      <?php endif; ?>
    </div>
  </div>
</nav>
