<nav class="secondary-nav navbar navbar-expand hidden">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% for key,item in nav %}
            <li class="nav-item"><a class="nav-link " href="{{item}}">{{key}}</a></li>
        {% endfor %}
        {# {% block left %}{% endblock %} #}
      </ul>
      <ul class="navbar-nav ml-auto pr-4">
        {# {% block center %}{% endblock %} #}
      </ul>
        {# {% block right %}{% endblock %} #}
    </div>
  </div>
</nav>
