{% embed 'shared/card.html.twig'%}


{% block cardHeader %}Game Servers{% endblock %}
{% block cardContent %}
<ul class="list-">
{% for key, value in navItems %}

  <li class="list-group-item">
    <a href="/{{value.url}}">{{key}}</a>
  </li>

{% endfor %}

</ul>
{% endblock cardContent %}
{% endembed %}
