{% extends 'navs/secondary_nav.html.twig' %}

{% block left %}
<li class="nav-item"><a class="nav-link " href="/product/?flt=game">Tickets</a></li>
<li class="nav-item"><a class="nav-link " href="/product/?flt=game">Archive</a></li>
{% endblock %}
