
{% extends 'base.html.twig' %}

{% block title %}Hello LandingController!{% endblock %}

{% block body %}
<section class="content">
	<div class="container">
		<div class="row">
			<div class="main col-md-12" role="main">
				<p>PushFully respects the privacy of its customers and visitors and is committed to protecting the personal information of its customers and visitors</p>
				<p>The information you provide to PushFully remains at PushFully we do not share or trade your information to any other organization or third party.</p>
				<p>Pushfully doesnt collect any information upon visiting our site and only collects information when you choose to partner with us.</p>
				<p>The information we collect is strictly used to identify you the customer and to be used to support your relationship with PushFully.</p>
				<p>If you have any question or concerns regarding this Policy, you can contact us by email at <a href="mailto:support@pushfully.nl">support@pushfully.nl</a></p>
			</div>
		</div>
	</div>
</section>
{% endblock %}
