.card-title {
  text-transform: capitalize;
}

.accordion-style .card {
  margin-top: 0 !important;
  border: none;
  background: 0 0;
  box-shadow: none;
}

.card-header {
  background: #1f1f1f;
}

.card {
  margin-top: 0 !important;
  border: none;
  background: 0 0;
  box-shadow: none;
}


.card-body {
  padding: 10px 15px;
  background: #191919;
  text-align: left;
  line-height: 24px;
}
