
.table {
  color: inherit;
}

.table-dark {
  background: #1f1f1f;

  td, th, thead th {
    border-color: #3b3b3b;
  }
}


td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
