

{% embed 'shared/card.html.twig'%}

  {% block cardContent %}
  <h5 class="card-title">Config Files</h5>
  {%
      include 'shared/table.twig' with {
          row : {
            'id' : {
                'property' : 'fileId',
                'object' : null
            },
            'Description' : {
                'property' : 'Description',
                'object' : null
            },
          },
          results : results
      } only
  %}
  {% endblock cardContent %}
{% endembed %}





{% block javascripts %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/liquibyte.min.css" integrity="sha512-Y7pMcSVpVg6myekc9dUdUfQJH3N+pzobSxFW+HBD19xmYfCHOJYv68kyj4uH0Afrs96o3BWW1y/D/cWd8HC5kg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/properties/properties.min.js" integrity="sha512-P4OaO+QWj1wPRsdkEHlrgkx+a7qp6nUC8rI6dS/0/HPjHtlEmYfiambxowYa/UfqTxyNUnwTyPt5U6l1GO76yw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">

let texteditor = {

    // contentOverflow: 'hidden scroll',
    theme: 'bootstrap-dark',
    border: 'medium',
    onminimized: function (panel, status) {
        panel.close(panel.id);
    },
    headerToolbar: [
        '<i class="fas fa-save">Save</i>'
        , '<span class="fas fa-save">Save & Exit</span>'
        , '<span class="fas fa-search">Search</span>'
    , ],

    maximizedMargin: [65, 20, 20, 20],
    minimizeTo: 'parent',
    container: 'main',
    // dragit : true,
    background: 'red',
    dragit: {
        containment: [65, 20, 20]
    }
}
// assign handler to event
$(document).on("click", '#test', (function (e) {
  // jsPanel.ajax({
  //     url : 'config/test',
  //     done: (xhr) => {
  //         jsPanel.create({
  //             content: '<textarea id="editor">' + xhr.responseText + '</textarea>',
  //             config: texteditor,
  //         })
  //     }
  // });
  jsPanel.create({
      headerControls: {
          smallify: 'remove'
      },
      contentAjax: {
          url : 'config/edit/'+$(this).data('target'),
          done: function (xhr, panel) {
              panel.contentRemove();
              panel.content.append(jsPanel.strToHtml('<textarea id="editor">' + xhr.responseText + '</textarea>'));

              var editor = CodeMirror.fromTextArea(document.getElementById('editor'), {
                  lineNumbers: true,
                  lineWrapping: false,
                  readOnly: false,
                  allowDropFileTypes: true,
                  theme: 'liquibyte',
                  addModeClass: true,
                  viewportMargin: 1,
                  autocorrect: true,
                  matchBrackets: true,
                  mode: 'properties',
                  indentWithTabs: true,
                  height: '2px',
              });

              editor.setSize("100%", "100%");
          }
      },
      position: 'center 50 50'
  });

}));

Object.assign(jsPanel.defaults, {
  // contentOverflow: 'hidden scroll',
  theme: 'bootstrap-dark',
  border: 'medium',
  maximizedMargin: [65, 20, 20, 20],
  minimizeTo: 'parent',
  container: 'main',
});



document.addEventListener('jspanelloaded', function (event) {
    var editor = CodeMirror.fromTextArea(document.getElementById('editor'), {
        lineNumbers: true,
        lineWrapping: false,
        readOnly: false,
        allowDropFileTypes: true,
        // theme: 'liquibyte',
        addModeClass: true,
        viewportMargin: 1,
        autocorrect: true,
        matchBrackets: true,
        // mode: extensions[ext],
        indentWithTabs: true,
        height: '2px',
    });

    editor.setSize("100%", "100%");
}, false);

</script>

{% endblock %}
