

{% embed 'shared/card.html.twig'%}

  {% block cardContent %}
  <h5 class="card-title">Command Line</h5>
  {%
      include 'shared/table.twig' with {
          row : {
            'Description' : {
                'property' : 'description',
                'object' : null
            },
            'Command Line' : {
                'property' : 'cmdline',
                'object' : 'user'
            },
            'Action' : {
                'property' : null,
                'object' : null
            },
          },
          results : results
      } only
  %}
  {% endblock cardContent %}
  {% block cardFooter %}
    <div class="nav-item btn-group-sm ml-0" role="group" aria-label="navigation">
        <a href="{{ app.request.pathinfo  }}/filemanager" class="btn btn-primary card-link"><i class="fas fa-folder-open"></i>Edit</a>
    </div>
  {% endblock %}
{% endembed %}
