<footer style="padding: 0;">
  <div class="footer-bar" style="margin: 0;">
    <div class="container"><p class="m-0">Copyright © 2020 Pushfully.nl. All rights reserved. <a href="/privacy.php">Privacy Policy</a></p></div>
  </div>
</footer>
