

<section class="box hidden" style="background-image:  url(/images/background.jpg);">
  <div class="box-text">
    <h2 class="page-header" style="color: #f08200;">{{page_title}}</h2>
    <h3 style="color: #474747;">{{page_description}}</h3>
    <div class="page-header-body">{% block body %}{% endblock %}</div>
  </div>
</section>
