<style media="screen">
  .mb {
    display:none;
  }
</style>

<nav class="primary-nav navbar navbar-expand-lg py-0">
  <a href="/" class="navbar-brand">
    <img class="brand hidden" src="/images/g879.png" alt="PUSHFULLY">
  </a>
  <a href="#" id="sidebarCollapse" class="navbar-brand">
    <span class="mb">PUSHFULLY</span>
  </a>
  <div class="navbar-collapse collapse">
    <ul class="navbar-nav ml-auto">
    {%
      for key,item in
      {
          'dashboard' : null,
          'support' : 'support',
          'billing' : 'billing',
          'invoices' : 'invoices',
          'services' : 'services',
      }
    %}

    <li class="nav-item">
        <a class="nav-link" href="/{{item}}">
          <span>{{key}}</span>
        </a>
    </li>

    {% endfor %}
      <li class="nav-item">
          <a class="nav-link" href="/account">
          <i class="fas fa-user"></i>
          <span>{{ app.user.username }}</span>
          </a>
      </li>
      <li class="nav-link">
        <a href="/summary">
          <i class="fas fa-shopping-cart"></i>
          <span id="cart-label" class="badge bg-theme">1</span>
        </a>
      </li>
    </ul>
  </div>

</nav>
